@font-face {
    font-family: "Unifont";
    src: url("../assets/fonts/unifont-13.0.04.ttf");
    font-weight: normal;
    font-style: normal;
}
  
:root {
    --font: Unifont;
}

body {
    font-family: var(--font);
    background-color: #191919;
}

.nav {
    text-align: center;
    align-content: center;
}

.yuzumi {
    background-image: url("../assets/yuzumi.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    z-index: -1;
    opacity: 0.3;
    width: 200px;
    height: 290px;
    right: 0px;
    bottom: 0px;
}

.yuzumi:hover {
    opacity: 0.8;
}

.yuzumi-header {
    background-image: url("../assets/yuzumi2.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px auto;
}

.content {
    align-content: center;
    text-align: center;
    font-size: 14pt;
    margin-top: 15px;
}

.links {
    margin-top: 30px;
    text-align: center;
}

.link-title {
    color: #ECDBBA;
    text-align: center !important;
}

.link {
    color: #C84B31;
    text-decoration: underline;
    text-align: center !important;
}

/* text color bullshit */
a, p, h1 {
    text-decoration: none;
    color: white;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
}

.underline {
    text-decoration: underline;
}

.low {
    color: gray;
    opacity: 0.5;
    font-size: 12pt;
}