<div class="youtube">
    <a href="{{ .URL }}" target="_blank">
        <img class="youtube-thumbnail" loading="lazy" src="{{ .ThumbnailURL }}" alt="Youtube Thumbnail">
        <a class="youtube-info" href="{{ .URL }}" target="_blank"> Click to watch in YouTube. </a>
    </a>
</div>
