{{- $CurrentPage := index .Channels (sub (len .Channels) 1) }}
{{- $Config := .Config }}


<rss version="2.0">
    <channel>
        <title> junko's ramblings </title>
        <description> i post pretty awful stuff here, please excuse my language. </description>
        <link> https://kafu.ovh </link>

        {{- range $i, $CurrentPost := .Channels }}
        <item>
            <title> post #{{- $CurrentPost.ID }} </title>
            <description>
                {{- $CurrentPost.RawContent }}
            </description>
            <link>{{- $Config.Get "Instance.Domain" }}/channel.html?#{{- $CurrentPost.ID }}</link>
            <guid>post-{{- $CurrentPost.ID }}</guid>
            <pubDate>{{- $CurrentPost.PostedAt }}</pubDate>
        </item>
        {{- end }}
    </channel>
</rss>