<div id="intro" class="window">
    <div class="window-title">
        <a href="https://www.youtube.com/watch?v=9QLT1Aw_45s">
            <p> {{ .Config.Get "Instance.Description" }} </p>
        </a>
    </div>

    <div class="window-header">
        <h1 id="domain"> {{ .Config.Get "Instance.Domain" }} <a style="font-size: 16px; margin:0;padding:0;">[2025]</a> </h1>
        <a href="https://www.youtube.com/channel/UCQ1U65-CQdIoZ2_NA4Z4F7A">
            <img id="char" src="static/imgs/kafu-header.webp" alt="kafu-header">
        </a>

        <div class="window-button">
            <a href="/index.html">home</a>
            <a href="/about.html">about</a>
            <a href="/blog.html">blog</a>
            <a href="/channel.html">@chan</a>
            <a href="/net.html">net</a>
        </div>
        
    </div>
</div>