{{ $Config := .Config }}
{{ $CurrentPage := .CurrentPage }}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta(s) -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Embed Meta -->
    <!-- Primary Meta Tags -->
    <meta name="title" content="{{index $CurrentPage.Metadata "title" }} "| letter to the black world" />
    <meta name="description" content="{{index $CurrentPage.Metadata "description" }}" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ $Config.Get "Instance.Name" }}" />
    <meta property="og:title" content="{{index $CurrentPage.Metadata "title" }} | letter to the black world" />
    <meta property="og:description" content="{{index $CurrentPage.Metadata "description" }}" />
    <meta property="og:image" content="{{ .Config.Get "Instance.Domain" }}/static/imgs/preview.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ .Config.Get "Instance.Domain" }}" />
    <meta property="twitter:title" content="{{index $CurrentPage.Metadata "title" }} | letter to the black world" />
    <meta property="twitter:description" content="{{index $CurrentPage.Metadata "description" }}" />
    <meta property="twitter:image" content="{{ .Config.Get "Instance.Domain" }}/static/imgs/preview.png" />


    <!-- Stylesheet(s) and Icons -->
    <link rel="icon" type="image/x-icon" href="/static/imgs/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/phone.css">
    <link rel="stylesheet" type="text/css" href="/static/css/deco.css">
    <link rel="stylesheet" type="text/css" href="/static/css/player.css">

    <!-- Title -->
    <title>{{index $CurrentPage.Metadata "title" }} | letter to the black world</title>
</head>

<body>
