{{ $Config := .Config }}
{{ $CurrentPage := .CurrentPage }}

<!-- The beginning of kafu.ovh V3 design -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/imgs/favicon.ico" />

    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/fonts.css">

    {{- if eq (index $CurrentPage.Metadata "tags") "channel" }}
        <link rel="stylesheet" href="/static/css/channel.css">
    {{- else }}
        <link rel="stylesheet" href="/static/css/style.css">
    {{- end }}

    <!-- Title -->
    <title>{{index $CurrentPage.Metadata "title" }} | kafu.ovh</title>
</head>

<body>