<!-- Sidebar stuff -->
<div class="sidebar-container">
    <div class="sidebar">
        <!-- avatar -->
        <a hx-get="/pages/home.html" hx-target="#main-container" hx-swap="outerHTML">
            <div class="avatar">
                <img src="../static/imgs/deco/rin_avatar.webp" alt="avatar"> </img>
            </div>
        </a>

        <!-- name -->
        <a>
            <img class="sidebar-name" src="../static/imgs/deco/rin_nameplate.webp"> </img>
        </a>

        <!-- lists of stuff -->
        <div class="links">
            <ul>
                <li class="sidebar-deco-offset">
                    <a href="/redirect.html?r=github">github</a>
                </li>

                <li class="sidebar-deco-offset">
                    <a href="/redirect.html?r=steam">steam</a>
                </li>

                <li class="sidebar-deco-offset">
                    <a href="#" hx-get="/pages/notes.html" hx-target="#main-container" hx-swap="outerHTML">notes</a>
                </li>


                <li class="sidebar-deco-offset">
                    <a href="#" hx-get="/chan/1.html" hx-target="#main-container" hx-swap="outerHTML">channel</a>
                </li>

                <li class="sidebar-deco-offset">
                    <a href="#" hx-get="/pages/stuff.html" hx-target="#main-container" hx-swap="outerHTML">links</a>
                </li>

                <li class="quote">
                    <a class="no-link">Currently</a> <a id='discord-status' class="no-link blink-smooth">offline</a>.
                </li>

                <li id="pakb-webring">
                    <script src="https://cdn.jsdelivr.net/gh/diamondburned/libwebring@nightly/dist/webring-element.js"
                        type="module"></script>

                     <style>
                        .webring {
                            display: flex;
                            justify-content: center;
                        }

                        .ring-info a,
                        .ring-body a {
                            color: var(--text-color);
                            text-decoration: none;
                        }

                        .ring-info a:hover,
                        .ring-body a:hover {
                            color: #DC143C;
                            text-decoration: underline;
                        }

                        webring-element .ring-info,
                        webring-element .ring-body {
                            margin:0;
                            text-align:center
                        }

                        webring-element .ring-info {
                          font-size: 1em
                        }

                        webring-element[data-ring-name=""]>.ring-info {
                         display:none
                        }

                        webring-element .ring-body {
                            display:grid;
                        }

                        webring-element .ring-body a.left::before,
                        webring-element .ring-body a.right::after {
                          font-size:1.5em;
                          line-height:0
                        }
                        webring-element .ring-body a.left {
                          justify-self:self-start
                        }

                        webring-element .ring-body a.left::before {
                           content:"←"
                        }

                        webring-element .ring-body a.right {
                          justify-self:self-end
                        }

                        webring-element .ring-body a.right::after {
                              content:"→"
                        }

                    </style>



                    <webring-element name="junko" src="https://raw.githubusercontent.com/xjunko/webrings/master/webring.json" />
                </li>

                <li>
                    <div id="smallvocaring">
                        <script src="../static/scripts/vocaloid.webring.js"></script>
                    </div>
                </li>
            </ul>
        </div>
        <div class="rin-stand">
            <img src="../static/imgs/deco/rin_stand.webp" alt="rin">
        </div>
    </div>

    <br>
    <div class="sidebar-music">
        <object type="image/svg+xml" data="https://lets-all-love-miku.vercel.app/spotify-lite">
        </object>
    </div>
    <br>

    {{ template "decoration/buttons/marquee-buttons" }}

    <div class="sidebar-shoutout"> <!-- because ublock kills it when its named ads -->
        <iframe width="180" height="180" style="border:none" src="https://dimden.neocities.org/navlink/" name="neolink"></iframe>
    </div>
</div>
