<div class="window">
    <div class="window-title">
        <p> post </p>
    </div>

    <div class="window-content post">
        <a> junko </a> 6 days ago
        <div>
            this is just a placeholder, i dont know what to put here,
            shoutout to melankorin, super cool design!!
        </div>
    </div>
</div>