<link rel="stylesheet" type="text/css" href="/static/css/notes.css">

<ul>
    {{ range $index, $currentNote := .Notes }}
    <li>
        <a style="font-size: 1.7rem;text-decoration: none;border-bottom: 3px solid #F7208B;"
            href="/note/{{ index $currentNote.Metadata "slog" }}.html"
            target="_blank">
            {{ index $currentNote.Metadata "title" }}
        </a>
        —
        <em>{{ $currentNote.GetSimpleFormattedPostDate }}</em>
    </li>
    {{ end }}
</ul>