{{ $CurrentPage := .GetCurrentPage }}

<link rel="stylesheet" type="text/css" href="/static/css/notes.css">

<div class="content-container">
    <div class="note-content">
        <h1 class="note-header">
            {{ index $CurrentPage.Metadata "title" }}
        </h1>


        <div class="note-info">
            <hr>
            <p>Posted on {{ $CurrentPage.GetFormattedPostDate }} | {{ $CurrentPage.GetWords }} words | ~{{ $CurrentPage.GetEstimatedReadingTime }} minutes read</p>
            <hr>
        </div>


        {{ $CurrentPage.ToMarkdown }}
    </div>
</div>
