/* ===== Root Variables ===== */
:root {
    --window-background: #000000;
    --window-background-2: #ffffff;

    --border-color: #d2738a;

    --text-color-light: rgb(193, 180, 146);
    --text-color-faint: #838383;
    --text-color-dark: #000000;

    --text-bg-hover: #000000;

    --background-color: #000000;
    --background-color-window-hover: #d2738a;
    --background-color-window: #000000;

    --green-text: #96c83b;
    --red-text: #c83b4e;
}

/* ===== Global Styles ===== */
* {
    box-sizing: border-box;
    color: var(--text-color-light);
}


body {
    background: var(--background-color);
    font-family: "ArkPixel", "MS UI Gothic", sans-serif;
    font-size: 14px;
    font-weight: 100;
    width: 900px;
    margin: 10px auto 30px auto;
}


.website-container {
    max-width: 100%;
}


hr {
    height: 2px;
    border: var(--border-color) 1px solid;
}

/* Header style */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Neue";
    font-weight: 700;
    margin: 4px;
}

/* ===== Window Styles ===== */

.window {
    border: 1px solid var(--border-color);
    background: var(--background-color-window);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.7);
    padding-top: 4px;
    width: fit-content;
}

.window:hover {
    border: 1px solid var(--window-background-2);
}

.window-title {
    border-bottom: 1px solid var(--border-color);
}

.window-title p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    background: var(--window-background);
    font-family: "Neue";
}

.window-title a {
    text-decoration: none;
    color: var(--text-color-dark);
}

.window-header {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    font-family: "Neue";
}

.window-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.window-header #domain {
    text-align: center;
    font-size: 4rem;
    white-space: nowrap;
}

.window-header #char {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 150px;
    transform: scaleX(-1);
}

.window-button {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    background: var(--window-background);
    white-space: nowrap;
    font-weight: bold;
    border-top: 1px solid var(--border-color);
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

.window-button a {
    font-size: 20px;
    color: var(--text-color-dark);
    text-decoration: none;
    padding: 6px 16px;
    border-right: 1px solid var(--border-color);
}

.window-button a:first-child {
    border-right: none;
}

.window-button a:last-child {
    border-left: 1px solid var(--border-color);
}

.window-button a:hover {
    background-color: var(--background-color-window-hover);
    color: var(--text-color-light);
}

/* ===== Grid Layout ===== */
.website-grid {
    padding-top: 32px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 16px;
}

.website-grid #content,
.website-grid #sidebar {
    align-self: flex-start;
}

.website-grid.website-blog {
    grid-template-columns: 2fr 5fr;
}

/* ===== Content Styles ===== */
.window-content {
    width: 100%;
    padding: 4px;
    padding-left: 8px;
    line-height: 16px;
}

.window-content .title {
    font-size: 14px;
    display: inline;
    padding-right: 4px;
}

.window-content .name {
    font-size: 18px;
    color: white;
    display: inline;
}

.window-content .name-small {
    font-size: 14px;
    display: inline;
}

.window-content .post-image {
    display: block;
    float: left;
    margin-right: 8px;
    margin-bottom: 4px;
    border: none;
    max-width: 25% !important;
}

.window-content .post-video {
    display: block;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    border: none;
    max-width: 25% !important;
}

.window-content img {
    max-width: 100% !important;
}

.window-content video {
    max-width: 100% !important;
}

#content .window-content {
    padding: 10px;
}

.window-content h1,
.window-content h2,
.window-content h3,
.window-content h4,
.window-content h5,
.window-content h6 {
    font-family: "Neue";
    color: var(--border-color)
}

.window-content h2 {
    font-size: 27px;
    font-weight: 700;
    margin: 10px 0;
}

.window-content p:not(.youtube-info),
.window-content a:not(.youtube-info) {
    margin: 8px 0;
    hyphens: auto;
    text-align: left;
    font-family: ArkPixel;
    font-size: 14px;
    font-weight: 100;
}

.window-content p:not(.dont-blacken):any-link,
.window-content a:not(.dont-blacken):any-link {
    color: var(--background-color-window-hover);
}

.window-content p:not(.dont-blacken):not(.youtube-info):any-link:hover,
.window-content a:not(.dont-blacken):not(.youtube-info):any-link:hover {
    color: var(--background-color-window-hover);
    border-top: 1px solid var(--border-color);
}

.window-content h3,
.window-content h4 {
    margin: 4px 0;
}

.window-content.post-latest {
    font-family: ArkPixel;
    vertical-align: bottom;
    font-size: 13px;
}

.window-content.post-latest a:first-child {
    font-family: "Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    vertical-align: bottom;
    font-style: normal;
    color: #000;
    padding-right: 4px;
}

.window-content.post-latest a {
    font-size: 15px;
}

.window-content.post-latest div {
    max-height: 80px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.window-content.post-latest div::-webkit-scrollbar {
    display: none;
}

.window-content.blog h3 {
    padding-bottom: 4px;
}

.window-content.blog div h2 {
    display: inline;
    font-size: 20px;
}

.window-content.blog div span::before {
    content: "|";
    margin-left: 4px;
}

#sidebar .window {
    max-width: 210px;
    margin-bottom: 8px;
}

/* ===== Link Styling ===== */
.href {
    text-decoration: underline;
    color: var(--border-color)
}

.href:hover {
    background: var(--background-color-window-hover);
    color: var(--text-color-light);
}

.href-right {
    text-decoration: none;
}

.href-right::after {
    content: "→";
    margin-left: -5px;
}

.href-left {
    text-decoration: none;
}

.href-left::before {
    content: "←";
    margin-right: 5px;
}


/* ===== Utility Classes ===== */
.center-container {
    margin: 0 auto;
}

.margin-top-16 {
    margin-top: 16px;
}

.list-no-space ul,
.list-no-space li {
    padding: 0;
    margin: 0 0 4px 8px;
    list-style-type: square;
}

ul {
    display: grid;
    padding: 0;
    padding-left: 16px;
}

ul,
li {
    margin-top: 0;
    list-style-type: square;
}

.net-links * {
    text-decoration: none;
}

/* ===== Effects ===== */
.blacken {
    filter: grayscale(1);
}

.blacken:hover {
    filter: grayscale(0);
}

.border {
    border: 1px solid var(--border-color);
}

.edgy {
    padding: 8px;
    color: var(--text-color-light);
    background-color: var(--background-color-window-hover);
}

.hover-to-reveal {
    background-color: var(--background-color-window-hover);
    color: var(--background-color-window-hover);
    padding: 0 8px;
}

.hover-to-reveal:hover {
    color: var(--text-color-light);
}

.blog-link {
    padding: 7px 10px;
    display: block;
    background: #000;
    color: #fff;
    text-decoration: none;
}

.caption {
    font-size: 18px;
    font-weight: 600;
}

/* ===== Image Direction ===== */
img[src*="#left"] {
    float: left;
}

img[src*="#right"] {
    float: right;
}

img[src*="#center"] {
    display: block;
    margin: auto;
}

/* ===== Grid Layout ===== */
.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.grid .window {
    height: 150px;
    overflow: scroll;
}

.grid-justify {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Youtube */
.youtube {
    position: relative;
    border: dashed 2px var(--red-text);
    display: block;
    width: 50% !important;
}

.youtube img {
    opacity: 0.3;
    margin: 0;
}

.youtube:hover img {
    opacity: 0.35;
}

.youtube-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--border-color);
    opacity: 1;
    font-size: 32px;
    font-weight: 700;
    font-family: "Neue";
    text-decoration: none;
}

.youtube-info:hover {
    text-decoration: underline;
}

.spotify {
    border: solid 1px #1db954;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spotify-thumbnail {
    float: left;
    width: auto;
    height: 100px;
}

.spotify-info {
    width: 85%;
    text-align: center;
}

/* Static */
body:before {
    content: "";
    position: fixed;
    opacity: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    background-image: url(/static/imgs/overlays/overlay.png);
    background-repeat: all;
    background-position: 0px 0px;
    box-shadow: inset 0px 0px 10em rgb(0 0 0 / 40%);
    animation-name: ChannelStatic;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    box-shadow: inset 0px 0px 10em rgb(0 0 0 / 40%);
}

body:after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    background-image: url(/static/imgs/overlay.png);
    background-repeat: all;
    background-position: 0px 0px;
    animation-name: ChannelStatic;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
}

@keyframes ChannelStatic {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: 0px 4px;
    }
}