/* ricing, split this to its own file when done, or not, idk, depends */

.sidebar-name {
  float: left;
  height: 60px;
  position: absolute;
  z-index: 5;
  rotate: -90deg;
  font-size: 4rem;
  right: 200px;
  bottom: 340px;
  text-decoration: none;
  color: white;
  pointer-events: none;
  animation: rin-name-intro 2s cubic-bezier(0.16, 1, 0.3, 1);
  transform: translateY(0%);
  z-index: -5;
}

@keyframes rin-name-intro {
  0% {
    transform: translateY(200%)
  }

  100% {
    transform: translateY(0%)
  }
}

.sidebar-shoutout {
  width: 180px;
  height: 180px;
  position: relative;
  bottom: 100px;
  margin: 0 auto;
  transform: translateY(0%);
  animation: sidebar-shoutout-intro 2s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes sidebar-shoutout-intro {
   0% {
    transform: translateY(-100%)
  }

  100% {
    transform: translateY(0%)
  }

}


.channel-post {
  animation: channel-post-intro 1s cubic-bezier(0.16, 1, 0.3, 1);
}


@keyframes channel-post-intro {
  0% {
    transform: translateY(-10%)
  }

  100% {
    transform: translateY(0%)
  }
}



.rin-stand img {
  float: left;
  position: relative;
  right: 70px;
  bottom: 320px;
  width: auto;
  height: 320px;
  z-index: 420;
  transform-origin: bottom center;
  animation: rin-lean 5s infinite;
  transform: translateX(-50%);
  pointer-events: none;
}

@keyframes rin-lean {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}


.sidebar-deco-offset:nth-child(1) a {
  margin-left: 30px;
}

.sidebar-deco-offset:nth-child(2) a {
  margin-left: 45px;
}

.sidebar-deco-offset:nth-child(3) a {
  margin-left: 35px;
}

.sidebar-deco-offset:nth-child(4) a {
  margin-left: 30px;
}

.sidebar-deco-offset:nth-child(5) a {
  margin-left: 25px;
}

#discord-status {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.sidebar-music {
  width: 290px;
  height: 60px;
  position: relative;
  background: var(--sidebar-color);
  border: 0.1em solid var(--outline-color);
  border-radius: 0.3em;
  animation: sidebar-intro 2s cubic-bezier(0.16, 1, 0.3, 1);
  transform: translateY(0%);
  z-index: -5;
}

@keyframes sidebar-intro {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0%);
  }
}

.sidebar-music object {
  float: left;
  position: absolute;
  left: 0px;
  overflow: hidden;
  border-radius: 0.3em;
}

.avatar {
  margin-bottom: -3px;
}

/* marquee thingamajig on the sidebar*/
.marquee-buttons {
  width: 290px;
  position: absolute;
  padding-top: 5px;
  padding-bottom: 5px;
  animation: sidebar-intro 2s cubic-bezier(0.16, 1, 0.3, 1);
  transform: translateY(0%);
  z-index: -5;
}

/* phone gooners */
@media only screen and (max-width: 1280px),
(orientation: portrait) {
  .sidebar-name {
    display: none;
  }

  .rin-stand img {
    visibility: hidden;
  }

  .sidebar-deco-offset a {
    margin-left: 0px;
  }

  .sidebar-deco-offset:nth-child(1) a {
    margin-left: 0px;
  }

  .sidebar-deco-offset:nth-child(2) a {
    margin-left: 0px;
  }

  .sidebar-deco-offset:nth-child(3) a {
    margin-left: 0px;
  }

  .sidebar-deco-offset:nth-child(4) a {
    margin-left: 0px;
  }

  .sidebar-deco-offset:nth-child(5) a {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px),
(orientation: portrait) {
  .rin-stand img {
    display: none;
  }

  .marquee-buttons {
    display: none;
  }

  .sidebar-shoutout {
    display: none;
  }

  .sidebar-music {
    display: none;
  }
}

/* less important, not layout */
/* static animation, from dimden.dev */
body:before {
  content: "";
  position: fixed;
  opacity: 0.2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  background-image: url(/static/imgs/overlays/overlay.png);
  background-repeat: all;
  background-position: 0px 0px;
  box-shadow: inset 0px 0px 10em rgb(0 0 0 / 40%);
  animation-name: Static;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4);
  box-shadow: inset 0px 0px 10em rgb(0 0 0 / 40%);
}

body:after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  background-image: url(/static/imgs/overlays/overlay.png);
  background-repeat: all;
  background-position: 0px 0px;
  animation-name: Static;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4);
}

@keyframes Static {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 0px 4px;
  }
}

/* Festive-specific theme */
#snow {
  background: none;
  background-image: url(../imgs/overlays/s1.png), url(../imgs/overlays/s2.png),
    url(../imgs/overlays/s3.png);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-animation: snow 100s linear infinite;
  animation: snow 100s linear infinite;
  pointer-events: none;
  opacity: 0.5;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  50% {
    background-position: 5000px 5000px, 1000px 2000px, -1000px 1500px;
  }

  100% {
    background-position: 5000px 10000px, 2000px 4000px, -1000px 3000px;
  }
}

@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  50% {
    background-position: 5000px 5000px, 1000px 2000px, -1000px 1500px;
  }

  100% {
    background-position: 5000px 10000px, 2000px 4000px, -1000px 3000px;
  }
}
