




<!-- Generic -->

<div id="main-container" class="content-container">
    <div class="content">
        <!-- Common Content -->
        <br />
<h3>いらっしゃいませ</h3>
<p>a place where i let my thoughts out, <em>may</em> be NSFW.</p>
<p><a href="https://kafu.ovh/feed.xml">[RSS]</a> feed is available.</p>


        <!-- Note List -->
        

        <!-- Version Footer -->
        <hr />
<div class="footer" style="position: relative;">
    <i>
        ©2020-2024 xjunko <<a href="https://github.com/xjunko/home">@github/xjunko/home</a>> <br />
            Powered by <a href="https://github.com/xjunko/home">Eva
                v0.5.0 —
                simple microblogging processor [go/latest]</a>

            <a style="position: absolute; top: -5px; right: 0">
                <img src="https://moecount.lolihouse.top/get/@xjunko" height="50" style="border: none;">
            </a>
    </i>
</div>

    </div>

    
        <link rel="stylesheet" type="text/css" href="/static/css/channel.css">
<link rel="stylesheet" type="text/css" href="/static/prism/prism.css">
<script src="/static/prism/prism.js"></script>








<div class="channel-container">
    
    
        
        <div class="channel-post" id="1737719865" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2025-01-24
        <a class="channel-url no-underline" href="#1737719865">#1737719865</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1737719865">[SHARE]</a>
        
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/cunnysmoke.gif" target="_blank"
            rel="noopener noreffer">cunnysmoke.gif</a> [file/gif] <br />
        <a href="https://hatsune-miku.has.rocks/r/cunnysmoke.gif" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://hatsune-miku.has.rocks/r/cunnysmoke.gif">
            
        </a>
        

        <p>it took them a fucking week to refund the money, god i am so late with these dumb fuck payments.</p>
<p>used my friend’s bank to pay it, im not using TNG shitty ass JomPay ever again.</p>
<p>i just hope it works this time around, im so fucking stressed out because of it.</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1736924132" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2025-01-15
        <a class="channel-url no-underline" href="#1736924132">#1736924132</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1736924132">[SHARE]</a>
        
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/fuckmychunguslife.gif" target="_blank"
            rel="noopener noreffer">fuckmychunguslife.gif</a> [file/gif] <br />
        <a href="https://hatsune-miku.has.rocks/r/fuckmychunguslife.gif" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://hatsune-miku.has.rocks/r/fuckmychunguslife.gif">
            
        </a>
        

        <p>i called them after class earlier today, told them about the payment not going through, and it’s <em>supposedly</em> on their side and
not my uni’s.</p>
<p>the operator was chill about it, made a ticket right after the call, with details and shit that i’m supposed to do.</p>
<p>please work.</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1736852404" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2025-01-14
        <a class="channel-url no-underline" href="#1736852404">#1736852404</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1736852404">[SHARE]</a>
        
        <br />

        

        <p>got a response back, they told me, “<em>it didn’t went through</em>”, fucking kill me already.</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1736665204" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2025-01-12
        <a class="channel-url no-underline" href="#1736665204">#1736665204</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1736665204">[SHARE]</a>
        
        <br />

        

        <p>stupid fucking uni not accepting my payment, said i <em>didn’t</em> paid the tuition fees, now
every fucking thing about the uni doesn’t work for me because i <em>did’t</em> pay the shit. so fucking stressed out about it.
contacted my PA about it, told me to wait for the student department response. fuck this shit man.</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1736264552" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2025-01-07
        <a class="channel-url no-underline" href="#1736264552">#1736264552</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1736264552">[SHARE]</a>
        
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/wallofthefuck.png" target="_blank"
            rel="noopener noreffer">wallofthefuck.png</a> [file/png] <br />
        <a href="https://hatsune-miku.has.rocks/r/wallofthefuck.png" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://hatsune-miku.has.rocks/r/wallofthefuck.png">
            
        </a>
        

        <p>for the past 2 days, i’ve been playing terraria on and off. i have zero fucking clue on how to do anything in this game</p>
<p>so most of the time i was just reading the wiki trying to figure shit out.</p>
<p>i had the game for YEARS and i never took the time to actually play it.</p>
<p>hours down the line later i can say that the game is actually kinda fun, albeit very grindy,
but that’s part of the fun now i have a super-fucking-fast pickaxe compared to what i had a day ago, its nice seeing the progression.</p>
<p><a style='color: var(--green-text)'>&gt;attached picture is me accidentaly summoning the fucker during mining, i died instantly.</a><br/></p>

    </div>
</div>

    
        
        <div class="channel-post" id="1735658400" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-12-31
        <a class="channel-url no-underline" href="#1735658400">#1735658400</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1735658400">[SHARE]</a>
        
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/recettear_price.png" target="_blank"
            rel="noopener noreffer">recettear_price.png</a> [file/png] <br />
        <a href="https://hatsune-miku.has.rocks/r/recettear_price.png" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://hatsune-miku.has.rocks/r/recettear_price.png">
            
        </a>
        

        <p><a style='color: var(--green-text)'>&gt;be me</a><br/>
<a style='color: var(--green-text)'>&gt;broke as fuck</a><br/>
<a style='color: var(--green-text)'>&gt;steam summer sale 2024</a><br/>
<a style='color: var(--green-text)'>&gt;only had 2 dollars to spend</a><br/>
<a style='color: var(--green-text)'>&gt;found this silly little game called <a style="color: var(--red-text);text-decoration: underline;" href="https://store.steampowered.com/app/70400/Recettear_An_Item_Shops_Tale/"> [Recettear] </a></a><br/>
<a style='color: var(--red-text)'>&lt;it’s exactly 2 dollar</a><br/>
best to say, it was a good idea to buy it because HOLY FUCK this game is FUN.</p>
<p>TLDR; the lore of the game is that your father has a debt and you (a kid in this game) gotta pay it yourself, so you set up a shop to pay the debt
every week.</p>
<p>the fun part is selling the item and haggling over it, you can literally rip off people for like a lot of money, shit is like shekels simulator but place, japan.</p>
<p>sometimes there will be people coming to SELL you stuff, you can also haggle this, usually you can get it for like 40-50% of the price and then sell it later on at 130% markup, shit is crazy man.</p>
<p><a style='color: var(--green-text)'>&gt;10/10 good game, you should try it.</a><br/></p>

    </div>
</div>

    
        
        <div class="channel-post" id="1735137252" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-12-25
        <a class="channel-url no-underline" href="#1735137252">#1735137252</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1735137252">[SHARE]</a>
        
        <br />

        

        <p>it’s that time of the year again.</p>
<div class="youtube">
    <a href="https://www.youtube.com/watch?v=dQ_d_VKrFgM" target="_blank">
        <img class="youtube-thumbnail" loading="lazy" src="https://i3.ytimg.com/vi/dQ_d_VKrFgM/maxresdefault.jpg" alt="Youtube Thumbnail">
        <a class="youtube-info" href="https://www.youtube.com/watch?v=dQ_d_VKrFgM" target="_blank"> Click to watch in YouTube. </a>
    </a>
</div>
<div style="text-align: center" class="blink">
<h2> merry christmas!!! </h2>
</div>

    </div>
</div>

    
        
        <div class="channel-post" id="1734930771" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-12-23
        <a class="channel-url no-underline" href="#1734930771">#1734930771</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1734930771">[SHARE]</a>
        
        <br />

        

        <p>i went to the anime con this year, it was awesome, and my legs fucking hurts.</p>
<p>i wasn’t planning on going but my friend gave me away his pass for the second day a week before the event, so i just went there completely blind.
<br></p>
<hr>
<div style="text-align: center">
<img src="https://hatsune-miku.has.rocks/r/sign.webp#center" height="400px">
<p>a signed picture from <a href="https://www.youtube.com/@Daidus">daidus</a> and <a href="https://www.youtube.com/@Emirichu">emirichu</a> <br>
<a style="color: gray;font-size: 12px"> (i queued for this for like an hour ^^;) </a></p>
</div>
<hr>
<div style="text-align: center">
<video width="225px" height="400px" controls loop preload>
    <source src="https://hatsune-miku.has.rocks/r/TETO.mp4" type="video/mp4"> 
</video>
<p>cute teto car</p>
</div>
<hr>
<div style="text-align: center">
<img src="https://hatsune-miku.has.rocks/r/CF_EVENIN_TREE.jpg" height="600px">
<p>evening of the event, everyone’s already tired and stuff. look at this big ass tree.</p>
</div>

    </div>
</div>

    
        
        <div class="channel-post" id="1734319002" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-12-16
        <a class="channel-url no-underline" href="#1734319002">#1734319002</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1734319002">[SHARE]</a>
        
        <br />

        
        file: <a class="channel-url" href="https://c.tenor.com/SBXNl1cJf6IAAAAd/tenor.gif" target="_blank"
            rel="noopener noreffer">tenor.gif</a> [file/gif] <br />
        <a href="https://c.tenor.com/SBXNl1cJf6IAAAAd/tenor.gif" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://c.tenor.com/SBXNl1cJf6IAAAAd/tenor.gif">
            
        </a>
        

        <p>oh hey, i’m back.</p>
<p>exams are finished now, i’m free again, for now.</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1730662790" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-11-04
        <a class="channel-url no-underline" href="#1730662790">#1730662790</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1730662790">[SHARE]</a>
        
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/kita.webp" target="_blank"
            rel="noopener noreffer">kita.webp</a> [file/webp] <br />
        <a href="https://hatsune-miku.has.rocks/r/kita.webp" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://hatsune-miku.has.rocks/r/kita.webp">
            
        </a>
        

        <p>so, it turns out, i somehow lost access to my registrar account.</p>
<p><a style='color: var(--red-text)'>&lt;i didn’t have it registered in my 2fa app</a><br/>
<a style='color: var(--red-text)'>&lt;i also somehow lost the backup codes</a><br/>
<a style='color: var(--green-text)'>&gt;can’t renew the domain</a><br/></p>
<p>the ship sank, it is what is is. i will now be using <a href="https://kafu.ovh">kafu.ovh</a> instead!</p>
<p>i saved the dumbass backup code to my every cloud account i had. hopefully no more 2fa fuck ups!!!</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1730096202" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-10-28
        <a class="channel-url no-underline" href="#1730096202">#1730096202</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1730096202">[SHARE]</a>
        
        <br />

        

        <p>i just found a banger, check this out.</p>
<div class="youtube">
    <a href="https://www.youtube.com/watch?v=_AjJZEcMdww" target="_blank">
        <img class="youtube-thumbnail" loading="lazy" src="https://i3.ytimg.com/vi/_AjJZEcMdww/maxresdefault.jpg" alt="Youtube Thumbnail">
        <a class="youtube-info" href="https://www.youtube.com/watch?v=_AjJZEcMdww" target="_blank"> Click to watch in YouTube. </a>
    </a>
</div>

    </div>
</div>

    
        
        <div class="channel-post" id="1726479175" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-09-16
        <a class="channel-url no-underline" href="#1726479175">#1726479175</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1726479175">[SHARE]</a>
        
        <br />

        

        <p>everyone need to listen to <a href="https://www.youtube.com/@ippotsk">ippo.tsk</a> at least once in their life.</p>
<div class="youtube">
    <a href="https://www.youtube.com/watch?v=GyjpqeKqzaQ" target="_blank">
        <img class="youtube-thumbnail" loading="lazy" src="https://i3.ytimg.com/vi/GyjpqeKqzaQ/maxresdefault.jpg" alt="Youtube Thumbnail">
        <a class="youtube-info" href="https://www.youtube.com/watch?v=GyjpqeKqzaQ" target="_blank"> Click to watch in YouTube. </a>
    </a>
</div>
<p>also, check out their other stuff <a href="https://www.ippotsk.com/">[here]</a> it’s really good.</p>
<div>
<img src="https://www.ippotsk.com/img/portfolio/art/2017-12-06.png#center">
<div style="text-align: right"><a href="https://www.ippotsk.com/art/">*one of their arts</a></div>
</div>

    </div>
</div>

    
        
        <div class="channel-post" id="1726148952" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-09-12
        <a class="channel-url no-underline" href="#1726148952">#1726148952</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1726148952">[SHARE]</a>
        
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/monoga.mp4" target="_blank"
            rel="noopener noreffer">monoga.mp4</a> [file/mp4] <br />
        <a href="https://hatsune-miku.has.rocks/r/monoga.mp4" target="_blank" rel="noopener noreffer">
            
            <video muted loop controls preload=metadata class="channel-media"
                src="https://hatsune-miku.has.rocks/r/monoga.mp4"></video>
            
        </a>
        

        <p>today, i just rode about 200 kilometres worth of distance.</p>
<p>it was nice driving around. bit scary though, doing all of that alone…</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1726034404" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-09-11
        <a class="channel-url no-underline" href="#1726034404">#1726034404</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1726034404">[SHARE]</a>
        
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/onegame.jpg" target="_blank"
            rel="noopener noreffer">onegame.jpg</a> [file/jpg] <br />
        <a href="https://hatsune-miku.has.rocks/r/onegame.jpg" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://hatsune-miku.has.rocks/r/onegame.jpg">
            
        </a>
        

        <p><a style='color: var(--green-text)'>&gt;ps5 pro announced</a><br/>
<a style='color: var(--green-text)'>&gt;retails at 700$+</a><br/>
what even is the point lmao, fucking thing got no games. all of that fancy ass upgrades for what?</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1725947237" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-09-10
        <a class="channel-url no-underline" href="#1725947237">#1725947237</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1725947237">[SHARE]</a>
        
        <br />

        

        <div class="youtube">
    <a href="https://www.youtube.com/watch?v=R9dtWCsXSqc" target="_blank">
        <img class="youtube-thumbnail" loading="lazy" src="https://i3.ytimg.com/vi/R9dtWCsXSqc/maxresdefault.jpg" alt="Youtube Thumbnail">
        <a class="youtube-info" href="https://www.youtube.com/watch?v=R9dtWCsXSqc" target="_blank"> Click to watch in YouTube. </a>
    </a>
</div>

    </div>
</div>

    
        
        <div class="channel-post" id="1723715237" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-08-15
        <a class="channel-url no-underline" href="#1723715237">#1723715237</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1723715237">[SHARE]</a>
        
        <br />

        

        <p>i've been settling at my rented house for a while now. slowly getting used to living (?) myself.
its cool.</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1722556037" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-08-02
        <a class="channel-url no-underline" href="#1722556037">#1722556037</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1722556037">[SHARE]</a>
        
        <br />

        

        <p>i got myself a ps vita. outdated console i know, that’s the point.
got project diva and lots of vn on it, fun thing.
i've been using my phone way less nowadays, actl killing my online presence lmao.</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1721999654" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-07-26
        <a class="channel-url no-underline" href="#1721999654">#1721999654</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1721999654">[SHARE]</a>
        
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/lainlain.png" target="_blank"
            rel="noopener noreffer">lainlain.png</a> [file/png] <br />
        <a href="https://hatsune-miku.has.rocks/r/lainlain.png" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://hatsune-miku.has.rocks/r/lainlain.png">
            
        </a>
        

        <p>things to do when my uni starts.</p>
<ul>
<li>pay the debt i have with the two people i owe it to</li>
<li>lessen my arcade game time</li>
<li>explore the city more and dont rotmaxxing all day</li>
<li>dont interact with a menhera ever again</li>
<li>quit all the useless clubs</li>
<li>enjoy life with me and myself only</li>
</ul>

    </div>
</div>

    
        
        <div class="channel-post" id="1721802633" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-07-24
        <a class="channel-url no-underline" href="#1721802633">#1721802633</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1721802633">[SHARE]</a>
        
        <br />

        

        <p>had to update my bank details recently, because their service is so dogshit that i had to go there irl and
fill shit out, manually, on a piece of paper… what a shit bank.</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1721170926" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-07-17
        <a class="channel-url no-underline" href="#1721170926">#1721170926</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1721170926">[SHARE]</a>
        
        <br />

        

        <p>i've been looking at my local train’s map recently…</p>
<p>kinda cool how i can just take one and just end up at the other side of the country…</p>
<p>maybe i should do that, who knows, it might fix whatever the fuck is wrong with me. just going balls out
to fucking nowhere by myself, alone, experiencing the world.</p>

    </div>
</div>

    
</div>

        


<div class="channel-container">
    <div class="paging">
        
        
            
            <a
                style="padding: 4px; font-size: 1.2rem; background-color: var(--outline-color) !important; color: var(--text-dark) !important;"
                hx-get="/chan/1.html" hx-target="#main-container" hx-swap="innerHTML">1</a>
            
        
            
            <a style="padding: 2px" hx-get="/chan/2.html" hx-target="#main-container" hx-swap="innerHTML">2</a>
            
        
            
            <a style="padding: 2px" hx-get="/chan/3.html" hx-target="#main-container" hx-swap="innerHTML">3</a>
            
        
            
            <a style="padding: 2px" hx-get="/chan/4.html" hx-target="#main-container" hx-swap="innerHTML">4</a>
            
        
    </div>
</div>

    

    <br> <br> <br>
    <br> <br> <br>
</div>






