




<!-- Generic -->

<div id="main-container" class="content-container">
    <div class="content">
        <!-- Common Content -->
        <br />
<h3>いらっしゃいませ</h3>
<p>a place where i let my thoughts out, <em>may</em> be NSFW.</p>
<p><a href="https://kafu.ovh/feed.xml">[RSS]</a> feed is available.</p>


        <!-- Note List -->
        

        <!-- Version Footer -->
        <hr />
<div class="footer" style="position: relative;">
    <i>
        ©2020-2024 xjunko <<a href="https://github.com/xjunko/home">@github/xjunko/home</a>> <br />
            Powered by <a href="https://github.com/xjunko/home">Eva
                v0.5.0 —
                simple microblogging processor [go/latest]</a>

            <a style="position: absolute; top: -5px; right: 0">
                <img src="https://moecount.lolihouse.top/get/@@xjunko" height="50" style="border: none;">
            </a>
    </i>
</div>

    </div>

    
        <link rel="stylesheet" type="text/css" href="/static/css/channel.css">
<link rel="stylesheet" type="text/css" href="/static/prism/prism.css">
<script src="/static/prism/prism.js"></script>








<div class="channel-container">
    
    
        
        <div class="channel-post" id="1735137252" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-12-25
        <a class="channel-url no-underline" href="#1735137252">#1735137252</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1735137252">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[]
        </a>
        <br />

        

        <p>it’s that time of the year again.</p>
<div class="youtube">
    <a href="" target="_blank">
        <img class="youtube-thumbnail" loading="lazy" src="https://i3.ytimg.com/vi/dQ_d_VKrFgM/maxresdefault.jpg" alt="Youtube Thumbnail">
        <a class="youtube-info" href="" target="_blank"> Click to watch in YouTube. </a>
    </a>
</div>
<div style="text-align: center" class="blink">
<h2> merry christmas!!! </h2>
</div>

    </div>
</div>

    
        
        <div class="channel-post" id="1734930771" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-12-23
        <a class="channel-url no-underline" href="#1734930771">#1734930771</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1734930771">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[comicfiesta,anime-con,life,cf2024]
        </a>
        <br />

        

        <p>i went to the anime con this year, it was awesome, and my legs fucking hurts.</p>
<p>i wasn’t planning on going but my friend gave me away his pass for the second day a week before the event, so i just went there completely blind.
<br></p>
<hr>
<div style="text-align: center">
<img src="https://hatsune-miku.has.rocks/r/sign.webp#center" height="400px">
<p>a signed picture from <a href="https://www.youtube.com/@Daidus">daidus</a> and <a href="https://www.youtube.com/@Emirichu">emirichu</a> <br>
<a style="color: gray;font-size: 12px"> (i queued for this for like an hour ^^;) </a></p>
</div>
<hr>
<div style="text-align: center">
<video width="225px" height="400px" controls loop preload>
<source src="https://hatsune-miku.has.rocks/r/TETO.mp4" type="video/mp4">
</video>
<p>cute teto car</p>
</div>
<hr>
<div style="text-align: center">
<img src="https://hatsune-miku.has.rocks/r/CF_EVENIN_TREE.jpg" height="600px">
<p>evening of the event, everyone’s already tired and stuff. look at this big ass tree.</p>
</div>

    </div>
</div>

    
        
        <div class="channel-post" id="1734319002" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-12-16
        <a class="channel-url no-underline" href="#1734319002">#1734319002</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1734319002">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[update]
        </a>
        <br />

        
        file: <a class="channel-url" href="https://c.tenor.com/SBXNl1cJf6IAAAAd/tenor.gif" target="_blank"
            rel="noopener noreffer">tenor.gif</a> [file/gif] <br />
        <a href="https://c.tenor.com/SBXNl1cJf6IAAAAd/tenor.gif" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://c.tenor.com/SBXNl1cJf6IAAAAd/tenor.gif">
            
        </a>
        

        <p>oh hey, i’m back.</p>
<p>exams are finished now, i’m free again, for now.</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1730662790" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-11-04
        <a class="channel-url no-underline" href="#1730662790">#1730662790</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1730662790">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[domain,update,bruhmoment]
        </a>
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/kita.webp" target="_blank"
            rel="noopener noreffer">kita.webp</a> [file/webp] <br />
        <a href="https://hatsune-miku.has.rocks/r/kita.webp" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://hatsune-miku.has.rocks/r/kita.webp">
            
        </a>
        

        <p>so, it turns out, i somehow lost access to my registrar account.</p>
<p><a style='color: var(--red-text)'>&lt;i didn’t have it registered in my 2fa app</a><br/>
<a style='color: var(--red-text)'>&lt;i also somehow lost the backup codes</a><br/>
<a style='color: var(--green-text)'>&gt;can’t renew the domain</a><br/></p>
<p>the ship sank, it is what is is. i will now be using <a href="https://kafu.ovh">kafu.ovh</a> instead!</p>
<p>i saved the dumbass backup code to my every cloud account i had. hopefully no more 2fa fuck ups!!!</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1730096202" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-10-28
        <a class="channel-url no-underline" href="#1730096202">#1730096202</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1730096202">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[music, teto]
        </a>
        <br />

        

        <p>i just found a banger, check this out.</p>
<div class="youtube">
    <a href="" target="_blank">
        <img class="youtube-thumbnail" loading="lazy" src="https://i3.ytimg.com/vi/_AjJZEcMdww/maxresdefault.jpg" alt="Youtube Thumbnail">
        <a class="youtube-info" href="" target="_blank"> Click to watch in YouTube. </a>
    </a>
</div>

    </div>
</div>

    
        
        <div class="channel-post" id="1726479175" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-09-16
        <a class="channel-url no-underline" href="#1726479175">#1726479175</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1726479175">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[music, cool find, artist]
        </a>
        <br />

        

        <p>everyone need to listen to <a href="https://www.youtube.com/@ippotsk">ippo.tsk</a> at least once in their life.</p>
<div class="youtube">
    <a href="" target="_blank">
        <img class="youtube-thumbnail" loading="lazy" src="https://i3.ytimg.com/vi/GyjpqeKqzaQ/maxresdefault.jpg" alt="Youtube Thumbnail">
        <a class="youtube-info" href="" target="_blank"> Click to watch in YouTube. </a>
    </a>
</div>
<p>also, check out their other stuff <a href="https://www.ippotsk.com/">[here]</a> it’s really good.</p>
<div>
<img src="https://www.ippotsk.com/img/portfolio/art/2017-12-06.png#center">
<div style="text-align: right"><a href="https://www.ippotsk.com/art/">*one of their arts</a></div>
</div>

    </div>
</div>

    
        
        <div class="channel-post" id="1726148952" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-09-12
        <a class="channel-url no-underline" href="#1726148952">#1726148952</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1726148952">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[personal,trip]
        </a>
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/monoga.mp4" target="_blank"
            rel="noopener noreffer">monoga.mp4</a> [file/mp4] <br />
        <a href="https://hatsune-miku.has.rocks/r/monoga.mp4" target="_blank" rel="noopener noreffer">
            
            <video muted loop controls preload=metadata class="channel-media"
                src="https://hatsune-miku.has.rocks/r/monoga.mp4"></video>
            
        </a>
        

        <p>today, i just rode about 200 kilometres worth of distance.</p>
<p>it was nice driving around. bit scary though, doing all of that alone…</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1726034404" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-09-11
        <a class="channel-url no-underline" href="#1726034404">#1726034404</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1726034404">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[console,ps5,rant]
        </a>
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/onegame.jpg" target="_blank"
            rel="noopener noreffer">onegame.jpg</a> [file/jpg] <br />
        <a href="https://hatsune-miku.has.rocks/r/onegame.jpg" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://hatsune-miku.has.rocks/r/onegame.jpg">
            
        </a>
        

        <p><a style='color: var(--green-text)'>&gt;ps5 pro announced</a><br/>
<a style='color: var(--green-text)'>&gt;retails at 700$+</a><br/>
what even is the point lmao, fucking thing got no games. all of that fancy ass upgrades for what?</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1725947237" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-09-10
        <a class="channel-url no-underline" href="#1725947237">#1725947237</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1725947237">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[video]
        </a>
        <br />

        

        <div class="youtube">
    <a href="" target="_blank">
        <img class="youtube-thumbnail" loading="lazy" src="https://i3.ytimg.com/vi/R9dtWCsXSqc/maxresdefault.jpg" alt="Youtube Thumbnail">
        <a class="youtube-info" href="" target="_blank"> Click to watch in YouTube. </a>
    </a>
</div>

    </div>
</div>

    
        
        <div class="channel-post" id="1723715237" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-08-15
        <a class="channel-url no-underline" href="#1723715237">#1723715237</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1723715237">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[life]
        </a>
        <br />

        

        <p>i've been settling at my rented house for a while now. slowly getting used to living (?) myself.
its cool.</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1722556037" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-08-02
        <a class="channel-url no-underline" href="#1722556037">#1722556037</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1722556037">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[videogame,console,ps-vita]
        </a>
        <br />

        

        <p>i got myself a ps vita. outdated console i know, that’s the point.
got project diva and lots of vn on it, fun thing.
i've been using my phone way less nowadays, actl killing my online presence lmao.</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1721999654" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-07-26
        <a class="channel-url no-underline" href="#1721999654">#1721999654</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1721999654">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[life, random, uni, list]
        </a>
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/lainlain.png" target="_blank"
            rel="noopener noreffer">lainlain.png</a> [file/png] <br />
        <a href="https://hatsune-miku.has.rocks/r/lainlain.png" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://hatsune-miku.has.rocks/r/lainlain.png">
            
        </a>
        

        <p>things to do when my uni starts.</p>
<ul>
<li>pay the debt i have with the two people i owe it to</li>
<li>lessen my arcade game time</li>
<li>explore the city more and dont rotmaxxing all day</li>
<li>dont interact with a menhera ever again</li>
<li>quit all the useless clubs</li>
<li>enjoy life with me and myself only</li>
</ul>

    </div>
</div>

    
        
        <div class="channel-post" id="1721802633" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-07-24
        <a class="channel-url no-underline" href="#1721802633">#1721802633</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1721802633">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[life, update, banks, rant]
        </a>
        <br />

        

        <p>had to update my bank details recently, because their service is so dogshit that i had to go there irl and
fill shit out, manually, on a piece of paper… what a shit bank.</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1721170926" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-07-17
        <a class="channel-url no-underline" href="#1721170926">#1721170926</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1721170926">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[life, thoughts]
        </a>
        <br />

        

        <p>i've been looking at my local train’s map recently…</p>
<p>kinda cool how i can just take one and just end up at the other side of the country…</p>
<p>maybe i should do that, who knows, it might fix whatever the fuck is wrong with me. just going balls out
to fucking nowhere by myself, alone, experiencing the world.</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1720877565" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-07-13
        <a class="channel-url no-underline" href="#1720877565">#1720877565</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1720877565">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[life, update, working]
        </a>
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/tomocute.png" target="_blank"
            rel="noopener noreffer">tomocute.png</a> [file/png] <br />
        <a href="https://hatsune-miku.has.rocks/r/tomocute.png" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://hatsune-miku.has.rocks/r/tomocute.png">
            
        </a>
        

        <p>this working thing is great and all but i feel like im slaving myself here lmao</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1720684306" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-07-11
        <a class="channel-url no-underline" href="#1720684306">#1720684306</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1720684306">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[life, update, flip-phone, classic]
        </a>
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/GS7UQDsaAAAFDaP.jpg" target="_blank"
            rel="noopener noreffer">GS7UQDsaAAAFDaP.jpg</a> [file/jpg] <br />
        <a href="https://hatsune-miku.has.rocks/r/GS7UQDsaAAAFDaP.jpg" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://hatsune-miku.has.rocks/r/GS7UQDsaAAAFDaP.jpg">
            
        </a>
        

        <p>got myself a flip phone… because why not :pp</p>
<p>i made a post about it <a href="https://kafu.ovh/notes/buying-a-keitai">[HERE]</a>, check it out!</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1720261966" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-07-06
        <a class="channel-url no-underline" href="#1720261966">#1720261966</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1720261966">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[anime, figurine, shop, life]
        </a>
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/4cIkK5Up.jpg" target="_blank"
            rel="noopener noreffer">4cIkK5Up.jpg</a> [file/jpg] <br />
        <a href="https://hatsune-miku.has.rocks/r/4cIkK5Up.jpg" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://hatsune-miku.has.rocks/r/4cIkK5Up.jpg">
            
        </a>
        

        <p><a style='color: var(--green-text)'>&gt;be today</a><br/>
<a style='color: var(--green-text)'>&gt;today is payday</a><br/>
<a style='color: var(--green-text)'>&gt;got my salary</a><br/>
<a style='color: var(--red-text)'>&lt;i spent it on nesos and figurines</a><br/>
so this is why adults have work, this is amazing… <br/>
money is… le-based… sugoi even.</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1719950373" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-07-03
        <a class="channel-url no-underline" href="#1719950373">#1719950373</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1719950373">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[life, work]
        </a>
        <br />

        
        file: <a class="channel-url" href="https://hatsune-miku.has.rocks/r/delete_m3.gif" target="_blank"
            rel="noopener noreffer">delete_m3.gif</a> [file/gif] <br />
        <a href="https://hatsune-miku.has.rocks/r/delete_m3.gif" target="_blank" rel="noopener noreffer">
            
            <img loading=lazy class="channel-media" src="https://hatsune-miku.has.rocks/r/delete_m3.gif">
            
        </a>
        

        <p>honestly, i have all these knowledge but i never make people pay for it.</p>
<p>it feels really weird to charge people for something as simple as formatting windows and installing the usual office programs (around 20$).</p>
<p>do i just know too much (or too little, rather) or</p>
<p>is this just how the real world works like, you get pay for what you know (and exploit those who dont),</p>
<p>is my view on this is dark or what, i dont get it. maybe im just so accustomed to not receiving any kind of thanks or anything in return for helping people, who knows…</p>
<p>my boss been telling me that i need to charge people for everything i do, dont be nice to them, you get what you pay for kinda deal… alright  ┐(´ー｀)┌</p>

    </div>
</div>

    
        
        <div class="channel-post" id="1719747879" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-06-30
        <a class="channel-url no-underline" href="#1719747879">#1719747879</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1719747879">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[music, youtube, life]
        </a>
        <br />

        

        <p>i just got a job few days ago, it’s nothing much but hey, it’s a job :DDD <br>
i worked as some fucking IT guy so there really isnt much to do lmao, feels like im cheating but computer just doesnt break as often nowadays… <br>
also found a cool cover, check it out!!!</p>
<div class="youtube">
    <a href="" target="_blank">
        <img class="youtube-thumbnail" loading="lazy" src="https://i3.ytimg.com/vi/D7rC1oGxtrI/maxresdefault.jpg" alt="Youtube Thumbnail">
        <a class="youtube-info" href="" target="_blank"> Click to watch in YouTube. </a>
    </a>
</div>

    </div>
</div>

    
        
        <div class="channel-post" id="1719257587" style=''>
    <div class=" channel-content">
        <span class="channel-author">junko</span> 2024-06-25
        <a class="channel-url no-underline" href="#1719257587">#1719257587</a>
        <a class="channel-url no-underline" href="../redirect.html?id=1719257587">[SHARE]</a>
        <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[programming, update]
        </a>
        <br />

        

        <p><a style='color: var(--green-text)'>&gt;added caching mechanism to the spotify/youtube proxy thing</a><br/>
<a style='color: var(--red-text)'>&lt;whole site now compiles in less than a second now!!!</a><br/>
now available at commit <a href="https://github.com/xjunko/home/commit/6dde3ac38655a58e211c7de4eafb28003aca2ac6">[#6dde3ac]</a></p>
<p><a style='color: var(--red-text)'>&lt;also check out this song</a><br/></p>
<div class="youtube">
    <a href="" target="_blank">
        <img class="youtube-thumbnail" loading="lazy" src="https://i3.ytimg.com/vi/n1nKVZPd_x4/maxresdefault.jpg" alt="Youtube Thumbnail">
        <a class="youtube-info" href="" target="_blank"> Click to watch in YouTube. </a>
    </a>
</div>

    </div>
</div>

    
</div>

        


<div class="channel-container">
    <div class="paging">
        
        
            
            <a
                style="padding: 4px; font-size: 1.2rem; background-color: var(--outline-color) !important; color: var(--text-dark) !important;"
                hx-get="/chan/1.html" hx-target="#main-container" hx-swap="innerHTML">1</a>
            
        
            
            <a style="padding: 2px" hx-get="/chan/2.html" hx-target="#main-container" hx-swap="innerHTML">2</a>
            
        
            
            <a style="padding: 2px" hx-get="/chan/3.html" hx-target="#main-container" hx-swap="innerHTML">3</a>
            
        
            
            <a style="padding: 2px" hx-get="/chan/4.html" hx-target="#main-container" hx-swap="innerHTML">4</a>
            
        
    </div>
</div>

    

    <br> <br> <br>
    <br> <br> <br>
</div>






