/* blog.css - god awful piece of shit styling hacked together in an hour. */

:root {
    --almost-dark: #1C1C1C;
    --not-so-dark: #6A6A6A;

    --youtube-color: #FF0000;
    --spotify-color: #1DB954;
    --green-text: #96c83b;
    --reference-text: #FF0000;

    --blog-width: 850px;
}

/* phone users moment */
@media (max-width: 1280px) {
    :root {
        --blog-width: 55vw;
    }
}

@media (max-width: 768px) {
    :root {
        --blog-width: 95vw;
    }
}


.blog-container {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-post {
    font-size: 12pt !important;
    width: var(--blog-width);
    max-width: var(--blog-width);
    padding: 3px;
    overflow: auto;
    opacity: 0.9;
    background-color: var(--dark-color);
    color: var(--text-light);
    border: solid 2px var(--almost-dark);
    margin-top: 5px;
}

.blog-post.reference {
    width: calc(var(--blog-width) * 50%);
    max-width: calc(var(--blog-width) * 75%);
    overflow: hidden;
}

.blog-post:hover {
    border: solid 2px var(--outline-color);
    opacity: 1.0;
}

.blog-post * {
    overflow: hidden;
    max-width: var(--blog-width);
}

.blog-content>p {
    padding: 0px 5px 0px 5px;
    margin: 0px;
}


.blog-post img:not(.discord-emoji) {
    max-width: calc(var(--blog-width) - 10px);
    display: block;
    margin: auto;
}

.blog-author {
    color: #a47996;
    font-weight: bold;
}

.blog-media {
    width: 33%;
    padding: 2px 4px 2px 2px;
    float: left;
    transition: width 0.25s, height 0.25s;
}

.blog-media:hover {
    width: 100%;
}

.blog-url,
.blog-content>a,
.blog-container>p {
    text-decoration: underline;
    color: var(--text-faint) !important;
}

.blog-url:hover,
.blog-content>a:hover,
.blog-container>p:hover {
    background-color: var(--outline-color) !important;
    color: var(--text-dark) !important;
}

/* .blog-tags,
.blog-tags>a,
.blog-tags>p {
    font-size: 8pt;
    color: white;
} */

.no-underline {
    text-decoration: none;
}

/* Youtube */
.youtube {
    position: relative;
    border: dashed 2px var(--youtube-color);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 4px;
    margin-right: 4px;
    max-width: calc(var(--blog-width) - 10px);
    width: 100%;

}

.youtube img {
    opacity: 0.3;
}

.youtube:hover img {
    opacity: 0.35;
}

.youtube-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brightest-color);
    opacity: 1.0;
    font-size: 24px;
}


/* Spotify */
.spotify {
    border: dashed 2px var(--spotify-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spotify-thumbnail {
    float: left;
    width: auto;
    height: 100px;
}

.spotify-info {
    width: 85%;
    text-align: center;
}

/* bruh */
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}


/* Page */
.paging {
    padding: 5px;
    background-color: black;
    color: white;
}