/* channel.css - x-chan lookalike styling */

:root {
  --almost-dark: #1c1c1c;
  --not-so-dark: #6a6a6a;

  --youtube-color: #ff0000;
  --spotify-color: #1db954;
  --reference-text: #ff0000;

  --green-text: #96c83b;
  --red-text: #c83b4e;

  --channel-width: 650px;
}

/* phone users moment */
@media (max-width: 1280px) {
  :root {
    --channel-width: 60vw;
  }

  .channel-tags {
    display: none;
  }
}

@media (max-width: 768px) {
  :root {
    --channel-width: 95vw;
  }

  .channel-tags {
    display: none;
  }
}

.channel-container {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.channel-post {
  font-size: 12pt !important;
  width: var(--channel-width);
  max-width: var(--channel-width);
  padding: 3px;
  overflow: auto;
  opacity: 0.9;
  background-color: var(--dark-color);
  color: var(--text-light);
  border: solid 2px var(--almost-dark);
  margin-top: 5px;
}

.channel-post-mini {
  font-size: 12pt !important;
  width: 100%;
  max-width: 100%;
  max-height: 400px;
  padding: 3px;
  overflow: auto;
  opacity: 0.9;
  background-color: var(--dark-color);
  color: var(--text-light);
  border: solid 2px var(--almost-dark);
  margin-top: 5px;
}

/* FIXME: this breaks custom formatting, come back to this again later */
/* .channel-post-mini p {
    hyphens: auto;
    text-align: justify;
    text-indent: 0em;
} */

.channel-post.reference {
  width: calc(var(--channel-width) * 50%);
  max-width: calc(var(--channel-width) * 75%);
  overflow: hidden;
}

.channel-post:hover {
  border: solid 2px var(--outline-color);
  opacity: 1;
}

.channel-content > p {
  padding: 0px 5px 0px 5px;
  margin: 0px;
}

.channel-content li {
  list-style-position: inside;
}

.channel-content li::marker {
  content: counter(list-item) " › ";
}

.channel-post img:not(.discord-emoji) {
  max-width: calc(var(--channel-width) - 10px);
  display: block;
  margin: auto;
}

.channel-post-mini img:not(.discord-emoji) {
  max-width: 100%;
  display: block;
  margin: auto;
}

.channel-author {
  color: #a47996;
  font-weight: bold;
}

.channel-media {
  width: 25%;
  padding: 2px 4px 2px 2px;
  float: left;
  transition: width 0.25s, height 0.25s;
}

.channel-media-mini {
  width: 25%;
  padding: 2px 4px 2px 2px;
  float: left;
}

.channel-media:hover {
  width: 45%;
}

.channel-url,
.channel-content > a,
.channel-container > p {
  text-decoration: underline;
  color: var(--text-faint) !important;
}

.channel-url:hover,
.channel-content > a:hover,
.channel-container > p:hover {
  background-color: var(--outline-color) !important;
  color: var(--text-dark) !important;
}

.channel-tags {
  float: right;
}

.channel-tags a,
.channel-tags p {
  color: white;
  text-decoration: none;
}

.channel-tags,
.channel-tags > a,
.channel-tags > p {
  font-size: 9pt;
  color: white;
  text-decoration: none;
}

.no-underline {
  text-decoration: none;
}

/* Youtube */
.youtube {
  position: relative;
  border: dashed 2px var(--youtube-color);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 4px;
  margin-right: 4px;
  max-width: calc(var(--channel-width) - 10px);
  width: 100%;
}

/* Center */
.channel-post-mini .youtube {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.youtube img {
  opacity: 0.3;
}

.youtube:hover img {
  opacity: 0.35;
}

.youtube-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brightest-color);
  opacity: 1;
  font-size: 24px;
}

/* Spotify */
.spotify {
  border: dashed 2px var(--spotify-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spotify-thumbnail {
  float: left;
  width: auto;
  height: 100px;
}

.spotify-info {
  width: 85%;
  text-align: center;
}

/* bruh */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/* Page */
.paging {
  padding: 5px;
  background-color: black;
  color: white;
}
