/* ricing, split this to its own file when done, or not, idk, depends */

.sidebar-name {
    float: left;
    height: 60px;
    position: absolute;
    z-index: 5;
    rotate: -90deg;
    font-size: 4rem;
    right: 200px;
    bottom: 340px;
    text-decoration: none;
    color: white;
    /* z-index: 69420; */
}

.rin-stand img {
    float: left;
    position: relative;
    right: 70px;
    bottom: 320px;
    width: auto;
    height: 320px;
    z-index: 420;
}

.sidebar-deco-offset {
    margin-left: 42px;
}

.sidebar-deco-offset-less {
    margin-left: 30px;
}

#discord-status {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.avatar {
    margin-bottom: -3px;
}

@media only screen and (max-width: 1280px),
(orientation: portrait) {
    .sidebar-name {
        display: none;
    }

    .rin-stand img {
        display: none;
    }

    .sidebar-deco-offset,
    .sidebar-deco-offset-less {
        margin-left: 0px;
    }
}