:root {
    --underline-color: #F7208B;
}


.note-header a {
    background-color: var(--underline-color);
    color: black;
}

.note-content {
    padding: 0 30px 10px 30px;
    border-top: 5px double var(--outline-color);
    background-color: #000000b7;
    text-shadow: 2px 1px var(--text-dark);
    color: white;
    hyphens: auto;
}

.note-content img {
    margin: 4px 4px 4px 2px;
    border: 4px solid var(--outline-color);
}

.note-content a:not(:has(img)) {
    text-decoration: none;
    border-bottom: 3px solid var(--underline-color);
}


.note-content a:hover:not(:has(img)) {
    background-color: var(--underline-color);
    color: black;
}

/* hr */
.note-content hr {
    position: relative;
    height: 20px;
    overflow: hidden;
    border: 0;
    margin: 20px 0;

}

.note-content hr::after {
    content: "------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
    width: 100%;
    word-wrap: break-word;
}

.note-info {
    color: var(--text-faint);
}

/* h */
h1::before {
    color: var(--underline-color);
    content: '>> ';
}

h2::before {
    color: var(--underline-color);
    content: '## ';
}

h3::before {
    color: var(--underline-color);
    content: '### ';
}

h4::before {
    color: var(--underline-color);
    content: '#### ';
}

h5::before {
    color: var(--underline-color);
    content: '##### ';
}

h6::before {
    color: var(--underline-color);
    content: '###### ';
}