<link rel="stylesheet" href="/static/css/music-player.css">

<div class="music-player">
    <div class="music-control">
        <a id="music-backward" onclick="prevTrack()">
            <i class="player-icons">&#xe802;</i>
        </a>

        <a id="music-play" onclick="playpauseTrack()">
            <i class="player-icons">&#xe800;</i>
        </a>

        <a id="music-forward" onclick="nextTrack()">
            <i class="player-icons">&#xe801;</i>
        </a>
    </div>

    <a id="split">|</a>

    <div class="music-info" style="flex: 5;">
        <a id="music-queue">1/1</a>
        <a id="split">|</a>
        <a id="music-duration">0:00 / 0:00</a>
        <a id="split">|</a>
        <a id="music-title" style="flex: 5;">MUSIC-TITLE</a>
    </div>

    <a id="split">|</a>

    <div class="music-volume" style="flex: 0.5; padding-left: 5px;padding-right: 32px;">
        <input type="range" id="music-volume" min="0" max="100" value="10" onchange="setVolume()" oninput="setVolume()">
    </div>

    <audio id="music" src="" crossorigin="anonymous"></audio>
</div>

<script src="/static/js/music-player.js"></script>