<div>
    <script src="https://cdn.jsdelivr.net/gh/diamondburned/libwebring@nightly/dist/webring-element.js"
        type="module"></script>
    <link rel="stylesheet" href="static/css/webring.css">
    <webring-element name="junko" src="https://raw.githubusercontent.com/xjunko/webrings/master/webring.json"
        data-ring-name="PAKB" data-link-name="junko" data-left-link-name="zavents" data-right-link-name="mystia">
    </webring-element>
</div>
<div class="webring-nav-a">
    <a href='https://webring.dinhe.net/prev/https://kafu.nekoweb.org'>previous</a>
    <a href='https://webring.dinhe.net/'>[retronaut webring]</a>
    <a href='https://webring.dinhe.net/next/https://kafu.nekoweb.org'>next</a>
</div>
<div id="smallvocaring" class="blacken">
    <script src="../static/js/vocaloid.webring.js"></script>
</div>
<div id='touhou-ring' style="align-self: center;">
    <script type="text/javascript"
        src="https://glassplanet.neocities.org/webring/touhou/onionring-variables.js"></script>
    <script type="text/javascript"
        src="https://glassplanet.neocities.org/webring/touhou/widget/widget-lolk2.js"></script>
</div>