<div>
</div>

<script>
    const params = new URLSearchParams(window.location.search);
    const post_id = params.get("id");
    const status_text = document.getElementById("redirect-status");
    status_text.style.fontWeight = "bold";
    status_text.style.fontSize = "32px";

    // Some voodoo shit going on here
    // dont ask.
    const posts_map = {
        @for page_number, page_posts in magi.get_pages()
        ${ page_number }: [
        @for c_post in page_posts
            "${ c_post.id }",
            @end
        ],
    @end
    }

    if (!post_id) {
        status_text.textContent = "No parameter given, please give 'id'!!!";
    } else {
        status_text.textContent = "Hold on.";

        let found_the_shit = false;

        for (const [key, value] of Object.entries(posts_map)) {
            if (value.includes(post_id)) {
                found_the_shit = true;
                status_text.textContent = "Found the stuff.";
                window.location.replace("https://konno.ovh/blog/" + key + ".html#" + post_id);
            }
        }

        if (!found_the_shit) {
            status_text.textContent = `Did not found post: #` + post_id;
        }

    }

</script>