<hr />
<div class="footer" style="position: relative;">
    <i>
        ©2020-2024 xjunko <<a href="https://github.com/xjunko/home">@@github/xjunko/home</a>> <br />
            Powered by <a href="https://github.com/xjunko/home/tree/master/src">@{magi.config.manifest.name}
                v@{magi.config.manifest.version} —
                @{magi.config.manifest.description} [@{magi.config.compiler_version}]</a>

            <a style="position: absolute; top: -5px; right: 0">
                <img src="https://moecount.lolihouse.top/get/@@xjunko" height="50" style="border: none;">
            </a>
    </i>
</div>