<!-- Sidebar stuff -->
<div class="sidebar-container">
    <div class="sidebar">
        <!-- avatar -->
        <a href="/">
            <div class="avatar">
                <img src="../static/imgs/deco/rin_avatar.webp" alt="avatar"> </img>
            </div>
        </a>

        <!-- name -->
        <a href="/">
            <img class="sidebar-name" src="../static/imgs/deco/rin_nameplate.webp"> </img>
        </a>

        <!-- lists of stuff -->
        <div class="links">
            <ul>
                <li class="sidebar-deco-offset">
                    <a href="/redirect.html?r=github">github</a>
                </li>

                <li class="sidebar-deco-offset">
                    <a href="/redirect.html?r=steam">steam</a>
                </li>

                <li class="sidebar-deco-offset">
                    <a href="/notes.html">notes</a>
                </li>



                <li class="sidebar-deco-offset">
                    <a href="/chan/1.html">channel</a>
                </li>

                <li class="sidebar-deco-offset">
                    <a class=" " href="/stuff.html">links</a>
                </li>

                <li class="quote">
                    <a class="no-link">Currently</a> <a id='discord-status' class="no-link blink-smooth">offline</a>.
                </li>

                <li>
                    <div id="smallvocaring">
                        <script src="../static/scripts/vocaloid.webring.js"></script>
                    </div>
                </li>
            </ul>
        </div>
        <div class="rin-stand">
            <img src="../static/imgs/deco/rin_stand.webp" alt="rin"> </img>
        </div>
    </div>
    @include "component/decorations/buttons.html"
</div>