<!-- Sidebar stuff -->
<div class="sidebar-container">
    <div class="sidebar">
        <!-- avatar -->
        <div class="avatar">
            <img src="../static/imgs/junko.png" alt="avatar"> </img>
        </div>

        <!-- name -->
        <h1>
            <a class='no-link' href="/">junko</a>
        </h1>

        <!-- intro -->
        <p class="domain">The Legendary Showa Idol</p>

        <!-- lists of stuff -->
        <div class="links">
            <ul>
                <li>
                    <a href="/redirect.html?r=github">github</a>
                </li>

                <li>
                    <a href="/redirect.html?r=steam">steam</a>
                </li>

                <li>
                    <a href="/blog/1.html">blog</a>
                </li>

                <li>
                    <a href="/stuff.html">stuff</a>
                </li>

                <li class="quote">
                    <a class="no-link">Densetsu no Shōwa aidoru.</a> <br />
                    <a class="no-link">Currently</a> <a id='discord-status' class="no-link">offline</a>.
                </li>

                <li>
                    <div id="smallvocaring">
                        <script src="../static/scripts/vocaloid.webring.js"></script>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>