a:target {
  color: var(--brightest-color) !important;
  font-weight: bold;
  text-decoration: underline;
}

.term {
  font-size: 12pt !important;
  background-color: var(--darkest-color);
  color: var(--brightest-color);
  width: 640px;
  border: solid 2px #1e1e1e;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  overflow: auto;
}

.user {
  color: #a47996;
  font-weight: bold;
}

#post {
  display: table;
  margin-top: 5px;
}

.media {
  width: 33%;
  padding: 2px 4px 2px 2px;
  float: left;
}

.term:hover {
  border: solid 2px var(--not-so-bright-color);
}

.links {
  text-decoration: none;
  color: var(--not-so-bright-color) !important;
}

.links:hover {
  background-color: var(--brightest-color) !important;
  color: #0c090a !important;
}

.url {
  text-decoration: underline;
  color: var(--not-so-bright-color) !important;
}

.url:hover {
  background-color: var(--brightest-color) !important;
  color: #0c090a !important;
}

.greentext {
  color: #87b379 !important;
}

.redtext {
  color: #a47996 !important;
}

/* Site specific  */
.emote {
  width: 16px;
  height: auto;
}
