<link rel="stylesheet" type="text/css" href="/static/css/channel.css">
<link rel="stylesheet" type="text/css" href="/static/prism/prism.css">
<script src="/static/prism/prism.js"></script>

{{ $PerPage := 20 }}
{{ $MaxPage := add (divide (len .Channels) $PerPage) 1 }}

{{ $CurrentPage := .CurrentChannel }}
{{ $StartAt := multiply $CurrentPage $PerPage }}
{{ $EndAt := add (multiply $CurrentPage $PerPage) $PerPage}}

<div class="channel-container">
    {{ $Channels := .GetChannels }}
    {{ range $currentIndex := loop $StartAt (sub $EndAt 1) }}
        {{ if ge $currentIndex (len $Channels) }}
            {{ break }}
        {{ end }}
        {{ template "route/channel/post" (index $Channels $currentIndex) }}
    {{ end }}
</div>
