{{ $PerPage := 20 }}
{{ $MaxPage := add (divide (len .Channels) $PerPage) 0 }}

<div class="channel-container">
    <div class="paging">
        {{ $CurrentChannel := .CurrentChannel }}
        {{ range $pageNumber := loop 0 $MaxPage }}
            {{ if eq $pageNumber $CurrentChannel }}      
            <a 
                style="padding: 4px; font-size: 1.2rem; background-color: var(--outline-color) !important; color: var(--text-dark) !important;" 
                hx-get="/chan/{{ add $pageNumber 1 }}.html" hx-target="#main-container" hx-swap="innerHTML">{{ add $pageNumber 1 }}</a>
            {{ else }}
            <a style="padding: 2px" hx-get="/chan/{{ add $pageNumber 1 }}.html" hx-target="#main-container" hx-swap="innerHTML">{{ add $pageNumber 1 }}</a>
            {{ end }}
        {{ end }}
    </div>
</div>