<div class="channel-post" id="{{ .ID }}" style='{{ index .Metadata "style"}}'>
    <div class=" channel-content">
        <span class="channel-author">{{ index .Metadata "author" }}</span> {{ .GetSimpleFormattedPostDate }}
        <a class="channel-url no-underline" href="#{{ .ID }}">#{{ .ID }}</a>
        <a class="channel-url no-underline" href="../redirect.html?id={{ .ID }}">[SHARE]</a>
        {{/* <a class="channel-tags"
            style="text-decoration: none; color: var(--text-light) !important">[{{ index .Metadata "tags" }}]
        </a> */}}
        <br />

        {{ if gt (len (index .Metadata "thumbnail")) 0 }}
        file: <a class="channel-url" href="{{ index .Metadata "thumbnail" }}" target="_blank"
            rel="noopener noreffer">{{ index .Metadata "filename" }}</a> [file/{{ index .Metadata "mimetype" }}] <br />
        <a href="{{ index .Metadata "thumbnail" }}" target="_blank" rel="noopener noreffer">
            {{ if eq (index .Metadata "thumbnail-type") "video" }}
            <video muted loop controls preload=metadata class="channel-media"
                src="{{ index .Metadata "thumbnail" }}"></video>
            {{ else }}
            <img loading=lazy class="channel-media" src="{{ index .Metadata "thumbnail" }}">
            {{ end }}
        </a>
        {{ end }}

        {{ .ToMarkdown }}
    </div>
</div>
