<div class="spotify">
    <div class="spotify-thumbnail">
        <img loading=lazy height="100px" width="100px" src="${track.cover_art_url}" alt="Cover Art">
    </div>
    <div class="spotify-info">
        <a class="links" href="https://open.spotify.com/track/${track.id}">${track.name}</a>
        <br>
        <a class="links" href="https://open.spotify.com/artist/${track.artist_id}">${track.artist}</a>
        <br>
        <audio controls preload=none>
            <source src="${track.audio_preview_url}" type="audio/mpeg">
        </audio>
    </div>
</div>