---
import "../styles/fonts.css";

const { title, description } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<title>{title} | kafu.ovh</title>
<meta name="og:title" content={title} />

{   
    description && 
    <meta name="og:description" content={description} /> 
    <meta name="description" content={description} />
}
