---
import { SITE_TAGLINE, SITE_TITLE, YEAR } from "../const";
---

<div class="website-container center-container"></div>
<div id="intro" class="window">
  <div class="window-title">
    <a href="https://www.youtube.com/watch?v=9QLT1Aw_45s">
      <p>{SITE_TAGLINE}</p>
    </a>
  </div>

  <div class="window-header">
    <h1 id="domain">
      {SITE_TITLE}
      <a style="font-size: 16px; margin:0;padding:0;">[{YEAR}]</a>
    </h1>

    <a href="https://www.youtube.com/channel/UCQ1U65-CQdIoZ2_NA4Z4F7A">
      <img id="char" src="/imgs/kafu-header.webp" alt="kafu-header" />
    </a>

    <div class="window-button">
      <a href="/">home</a>
      <a href="/about">about</a>
      <a href="/blog">blog</a>
      <a href="/channel">@chan</a>
      <a href="/net">net</a>
    </div>
  </div>
</div>
