---
import { get_blog_posts, get_channel_posts } from "../lib/utils";
import KFDate from "./core/KFDate.astro";
import KFMarkdown from "./core/KFMarkdown.astro";

const { isHomePage } = Astro.props;

const recent_channel = await get_channel_posts().then((posts) => posts[0]);
---

<div class="window">
    <div class="window-title">
        <p>@chan</p>
    </div>

    <div class="window-content post-latest">
        <a>{recent_channel.data.author}</a> <KFDate date={recent_channel.data.date} />
        <div class="post-latest-scroll">
            <div class="post-latest-scroll-inner">
                <KFMarkdown content={recent_channel.body ?? "No content available."} />
            </div>
        </div>
    </div>
</div>

<div class="window">
    <div class="window-title">
        <p>status (wip™)</p>
    </div>

    <div class="window-content" style="overflow: hidden;">
        <p style="text-align: center">borked.</p>
    </div>
</div>

<div class="window">
    <div class="window-title">
        <p>this website</p>
    </div>

    <div class="window-content blacken">
        <p style="text-align: center; padding-top: 4px; margin: 0;">
            add me to your websites! hotlinking is allowed.
        </p>

        <div class="grid" style="padding-top: 8px;">
            <img style="text-align: center;" src="/imgs/buttons/junko.png" />
            <textarea
                style="width: 100px; height: 31px;border: 1px solid var(--border-color);font-size: 11px;resize: none;"
                readonly=""
                >{
                    `<a href="https://kafu.ovh" target="_blank"><img src="https://kafu.ovh/imgs/buttons/junko.png"/></a>`
                }</textarea
            >
        </div>

        <div id="nekoweb" style="text-align: center; padding-top: 8px;">
            <script>
                if (!window.location.hostname.includes("nekoweb.org")) {
                    let nekoweb = document.getElementById("nekoweb");
                    if (nekoweb) {
                        nekoweb.style.display = "none";
                    }
                }
            </script>
            <iframe
                src="https://nekoweb.org/frame/follow"
                width="170"
                height="28"></iframe>
        </div>
    </div>
</div>

{
    isHomePage ? (
        <div class="window">
            <div class="window-title">
                <p>piclog</p>
            </div>

            <div class="window-content">
                <a href="https://piclog.blue/profile.php?id=883">
                    <img
                        src="https://piclog.blue/latest.php?id=883"
                        width="200"
                    />
                </a>
            </div>
        </div>

        <div class="window">
            <div class="window-title">
                <p> promotions </p>
            </div>

            <div class="window-content blacken">
                <iframe width="200" height="200" style="border:none;" src="https://dimden.neocities.org/navlink/"
                    name="neolink"></iframe>
            </div>
        </div>
    ) : null
}
