<div class="marquee-buttons">
    <marquee>
        <img src="/static/imgs/buttons/eyecandy/bestvieweddesktop.gif">
        <img src="/static/imgs/buttons/eyecandy/microsoft.jpg">
        <img src="/static/imgs/buttons/eyecandy/chrome.gif">
        <img src="/static/imgs/buttons/eyecandy/html.gif">
        <img src="/static/imgs/buttons/eyecandy/linux.png">
        <img src="/static/imgs/buttons/eyecandy/web3.gif">
        <img src="/static/imgs/buttons/eyecandy/freespeechforever.gif">
    </marquee>
</div>