<div class="marquee-buttons">
    <marquee loop="infinite" scrollamount="5">
        <img src="/static/imgs/buttons/eyecandy/bestvieweddesktop.gif">
        <a href="https://firefox.com/">
            <img src="/static/imgs/buttons/eyecandy/firefox.webp">
        </a>
        <img src="/static/imgs/buttons/eyecandy/microsoft.jpg">
        <img src="/static/imgs/buttons/eyecandy/chrome.gif">
        <img src="/static/imgs/buttons/eyecandy/html.gif">
        <a href="https://www.kernel.org/">
            <img src="/static/imgs/buttons/eyecandy/linux.png">
        </a>
        <img src="/static/imgs/buttons/eyecandy/web3.gif">
        <img src="/static/imgs/buttons/eyecandy/freespeechforever.gif">
        <img src="/static/imgs/buttons/eyecandy/bestvieweyes.gif">
    </marquee>

    <marquee loop="infinite" scrollamount="5" direction="right">
        <img src="/static/imgs/buttons/eyecandy/miku.gif">
        <img src="/static/imgs/buttons/eyecandy/vocaloid.gif">
        <img src="/static/imgs/buttons/eyecandy/z3r0s.gif">
        <img src="/static/imgs/buttons/eyecandy/ostan.gif">
        <img src="/static/imgs/buttons/eyecandy/underwear.gif">

        <a href="https://mikumiku.neocities.org/">
            <img src="/static/imgs/buttons/eyecandy/mikumiku.gif">
        </a>

        <a href="https://ynoproject.net/">
            <img src="/static/imgs/buttons/eyecandy/yumenikki.gif">
        </a>

        <a href="https://www.minecraft.net/en-us">
            <img src="/static/imgs/buttons/eyecandy/minecraft.gif">
        </a>

        <a href="https://neocities.org/">
            <img src="/static/imgs/buttons/eyecandy/neocitizensrock.gif">
        </a>
    </marquee>

    <marquee loop="infinite" scrollamount="5" direction="left">
        @include "component/decorations/cool_buttons.html"
    </marquee>
</div>