{{ $Config := .GetConfig }}
{{ $CurrentPage := .GetCurrentPage }}

{{ template "base/head" . }}

<!-- Event -->
{{ template "decoration/events/christmas" . }}

<!-- Sidebar -->
{{ template "base/sidebar" . }}

<!-- Generic -->
{{ if ne .Mode "Note" }}
<div class="content-container">
    <div class="content">
        <!-- Common Content -->
        {{ $CurrentPage.GetContent }}

        <!-- Note List -->
        {{if eq .Mode "NoteList"}}
            {{ template "route/note/note-list" . }}
        {{end}}

        <!-- Version Footer -->
        {{ template "base/version" . }}
    </div>

    {{ if eq (index $CurrentPage.Metadata "tags") "channel" }}
        {{ template "route/channel/container" . }}
        {{ template "route/channel/paging" . }}
    {{end}}

    <br> <br> <br> 
    <br> <br> <br> 
</div>
{{ end }}

 {{if eq .Mode "Note"}}
    {{ template "route/note/post" . }}
{{end}}



{{ template "decoration/discord-status" .}}
{{ template "decoration/music-player" . }}

{{ template "base/footer" . }}