{{ $Config := .GetConfig }}
{{ $CurrentPage := .GetCurrentPage }}

{{ template "base/head" . }}   

{{ if eq (index $CurrentPage.Metadata "tags") "blog" }}
    <div class="website-container center-container">
        {{ template "route-template/blog/inject" . }}
    </div>
{{ else if eq (index $CurrentPage.Metadata "tags") "blog-read" }}
    <div class="website-container center-container">
        {{ template "route-template/blog/inject-read" . }}
    </div>
{{ else if eq (index $CurrentPage.Metadata "tags") "channel" }}
    <div class="website-container center-container">
        {{ $CurrentPage.GetContent }}
    </div>
{{ else }}
    {{/* Header */}}
    <div class="website-container center-container">
        {{ template "base/header" . }}
    </div>

    {{/* Content Grid */}}
    <div class="website-grid">

        {{/* Main Window */}}
        <div id="content" class="window">
            <div class="window-title">
                <p> {{ index $CurrentPage.Metadata "title" }} </p>
            </div>

            <div class="window-content">
                {{ $CurrentPage.GetContent }}
            </div>
        </div>

        {{/* Sidebar */}}
         <div id="sidebar">
            {{ template "route-template/sidebar/inject" . }}
        </div>
    </div>
{{ end }}

{{ template "base/footer" . }}