{{ $Config := .GetConfig }}
{{ $CurrentPage := .GetCurrentPage }}

{{ template "base/head" . }}

<!-- Event -->
{{ template "decoration/events/christmas" . }}

<!-- Sidebar -->
{{ template "base/sidebar" . }}

<!-- Generic -->
{{if eq .Mode "Normal"}}
<div class="content-container">
    <div class="content">
        <!-- Common Content -->
        {{ $CurrentPage.GetContent }}

        <!-- Version Footer -->
        {{ template "base/version" . }}
    </div>

    {{ if eq (index $CurrentPage.Metadata "tags") "channel" }}
        {{ template "route/channel/container" . }}
    {{end}}
</div>
{{end}}

{{ template "decoration/discord-status" .}}
{{ template "decoration/music-player" . }}

{{ template "base/footer" . }}