<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta(s) -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Embed Meta -->
    <!-- Primary Meta Tags -->
    <meta name="title" content="@{page.metadata['title']} | letter to the black world" />
    <meta name="description" content="@{page.metadata['description']}" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://konno.ovh/" />
    <meta property="og:title" content="@{page.metadata['title']} | letter to the black world" />
    <meta property="og:description" content="@{page.metadata['description']}" />
    <meta property="og:image" content="https://konno.ovh/static/imgs/preview.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://konno.ovh/" />
    <meta property="twitter:title" content="@{page.metadata['title']} | letter to the black world" />
    <meta property="twitter:description" content="@{page.metadata['description']}" />
    <meta property="twitter:image" content="https://konno.ovh/static/imgs/preview.png" />


    <!-- Stylesheet(s) and Icons -->
    <link rel="icon" type="image/x-icon" href="/static/imgs/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/phone.css">
    <link rel="stylesheet" type="text/css" href="/static/css/deco.css">
    <link rel="stylesheet" type="text/css" href="/static/css/player.css">

    <!-- Title -->
    <title>@{page.metadata['title']} | letter to the black world</title>
</head>

<body>
    @include "component/sidebar.html"

    <div class="content-container">
        <div class="content">
            @{page.content}

            @include "component/footer.html"
        </div>

        @if page.metadata["tags"].contains("channel") && (config.get("website.channel.enable") as bool) == true
        <!-- Special case layout -->
        <!-- Channel -->

        <link rel="stylesheet" type="text/css" href="/static/css/channel.css">

        <div class="channel-container">
            @for post in magi.posts
            @include "component/post.html"
            @end
        </div>

        <link rel="stylesheet" type="text/css" href="/static/prism/prism.css">
        <script src="/static/prism/prism.js"></script>

        <div class="channel-container">
            <div class="paging">
                @for page_count in 0 .. page.max_number + 1
                @if page_count == page.number
                <a style="padding: 4px; font-size: 1.2rem; background-color: var(--outline-color) !important; color: var(--text-dark) !important;"
                    href='/chan/${page_count+1}.html'>${page_count+1}</a>
                @else
                <a style="padding: 2px" href='/chan/${page_count+1}.html'>${page_count+1}</a>
                @end

                @end
            </div>
        </div>
        @end

        @for _ in 0 .. 5
        <br>
        @end

        @if page.metadata["tags"].contains("internal.post_finder")
        <!-- Channel redirector -->
        @include "component/redirect.html"
        @end

        @{page.outer}
    </div>

    @include "component/discord.html"
    @include "component/bottombar.html"
</body>

</html>