<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta(s) -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Embed Meta -->
    <!-- Primary Meta Tags -->
    <meta name="title" content="@{page.metadata['title']} | letter to the black world" />
    <meta name="description" content="@{page.metadata['description']}" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kafu.ovh/" />
    <meta property="og:title" content="@{page.metadata['title']} | letter to the black world" />
    <meta property="og:description" content="@{page.metadata['description']}" />
    <meta property="og:image" content="https://kafu.ovh/static/imgs/preview.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://kafu.ovh/" />
    <meta property="twitter:title" content="@{page.metadata['title']} | letter to the black world" />
    <meta property="twitter:description" content="@{page.metadata['description']}" />
    <meta property="twitter:image" content="https://kafu.ovh/static/imgs/preview.png" />


    <!-- Stylesheet(s) and Icons -->
    <link rel="icon" type="image/x-icon" href="/static/imgs/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/phone.css">
    <link rel="stylesheet" type="text/css" href="/static/css/deco.css">
    <link rel="stylesheet" type="text/css" href="/static/css/player.css">

    <!-- Title -->
    <title>@{page.metadata['title']} | letter to the black world</title>
</head>

<body>
    @include "component/sidebar.html"

    <!-- Generic -->
    @if !page.metadata['step'].contains('notes')
    <div class="content-container">
        <div class="content">
            <!-- Common Content -->
            @{page.content}

            <!-- Notes entry -->
            @include "component/page/notes.html"

            <!-- Content Footer -->
            @include "component/footer.html"
        </div>

        <!-- This components needs to be outside -->
        @include "component/page/channel.html"
        @include "component/utils/space.html"
        @include "component/page/redirect.html"

        <!-- Extra -->
        @{page.outer}
    </div>
    @end

    <!-- Note -->
    @if page.metadata['step'] == 'notes'
    <link rel="stylesheet" type="text/css" href="/static/css/notes.css">
    @include "component/page/notes.html"
    @end

    @include "component/discord.html"
    @include "component/bottombar.html"
</body>

</html>